@mixin button($btn-color: $c-keys, $shadow-color: $c-keys-shadow, $txt-color: $c-text-primary) {
  background-color: $btn-color;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 0px 0px $shadow-color;
  color: $txt-color;
  border: none;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  font-size: 28px;
  padding-top: 8px;
  transition: background-color 0.7s linear, color 0.7s linear;

  &:active {
    background-color: $shadow-color;
    transform: translate(0, 4px);
    box-shadow: none;
  }
}
